check device root with path /
    if SPACE usage > 80% then alert

check device boot with path /boot
    if SPACE usage > 80% then alert

check device var with path /var
    if SPACE usage > 80% then alert
