check process postfix with pidfile /var/spool/postfix/pid
    start program = "systemctl start postfix" with timeout 30 seconds
    stop program  = "systemctl stop mariadb"
    if cpu usage > 80% for 5 cycles then alert
  	if failed host 127.0.0.1 port 25 then restart
	if 5 restarts within 5 cycles then timeout