# monit: auth account password session
auth       sufficient     pam_unix.so
auth        sufficient    pam_sss.so forward_pass
auth       required       pam_deny.so
account     [default=bad success=ok user_unknown=ignore] pam_sss.so
account    required       pam_permit.so
password    requisite     pam_pwquality.so try_first_pass local_users_only retry=3 authtok_type=
password    sufficient    pam_unix.so sha512 shadow nullok try_first_pass use_authtok
password    sufficient    pam_sss.so use_authtok
password    required      pam_deny.so
